<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name ="ISP Database Test Suite">
    <test name ="Dashboard Login Suit">
        <!--packages>
            <package name="co.pragra.learning.selenium.framework.testcases.dashboardLogin"></package>
        </packages-->
    <classes>
        <!--Run -TestCases in -dashboardLogin Package-->
        <class name ="co.pragra.learning.selenium.framework.testcases.dashboardLogin.ISPMainPageTest"/>
        <class name="co.pragra.learning.selenium.framework.testcases.dashboardLogin.UserLoginTest"/>
        <class name="co.pragra.learning.selenium.framework.testcases.dashboardLogin.UserDashboardTest"/>
        <!--End of TestCases in -dashboardLogin Package-->

<!--        <class name="co.pragra.learning.selenium.framework.testcases.SearchAddSaveNav.AddNewStudentTest"/>-->
<!--        <class name="co.pragra.learning.selenium.framework.testcases.GeneralInformationTest"/>-->
        <class name="co.pragra.learning.selenium.framework.testcases.SearchStudentTest"/>
<!--        <class name="co.pragra.learning.selenium.framework.testcases.AIFirstSectionTest"></class>-->
        <class name="co.pragra.learning.selenium.framework.testcases.AIMedicalInfoTest"></class>
    </classes>
    </test>
</suite>